<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @user.company_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @user.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @user.end_date %>
</p>

<p>
  <strong>Monthly charge:</strong>
  <%= @user.monthly_charge %>
</p>

<div style="width:200px; height:auto">
  <%= image_tag(@user.image, style:"width:100%") %>
</div>

<p>
  <strong>Active:</strong>
  <%= @user.active %>
</p>

<div class="container">
  <%= @user.notes %>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
