<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
   <%= link_to " Home ", root_path , class:"navbar-brand bi bi-house"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in?%>
          <li class="nav-item">
              <% if current_user.role_id = 1 %>
              <%= link_to " Companies ", companies_path , class:"navbar-brand bi bi-building" %>
              <%end%>
          </li>

          <li class="nav-item">
            <%= link_to " Users ", users_path , class:"navbar-brand bi bi-people" %>
          </li>

            <li class="nav-item">
              <%= link_to " User Roles ", user_roles_path , class:"navbar-brand" %>
            </li>

            <li class="nav-item">
              <%= link_to " Regions ", regions_path , class:"navbar-brand" %>
            </li>

            <li class="nav-item">
              <%= link_to " Countries ", countries_path , class:"navbar-brand" %>
            </li>

            <li class="nav-item">
              <%= link_to " States ", states_path , class:"navbar-brand" %>
            </li>

            <li class="nav-item">
              <%= link_to " Cities ", cities_path , class:"navbar-brand" %>
            </li>

            <li class="nav-item">
              <%= link_to " Places / Nodes ", places_path , class:"navbar-brand" %>
            </li>

            <!--div class="navbar-brand" >
              <li class="nav-item">
                <% if current_user.role_id== '1' %>
                <div class="navbar-brand"> Admin</div>
                <% elsif current_user.role_id == '2'%>
                <div class="navbar-brand"> Manager</div>
                <% elsif current_user.role_id == 3 %>
                <div class="navbar-brand"> User</div>
                <%end%>
              </li>
            </div!-->
          
          <ul class="navbar-nav nav justify-content-end">
            <li class="nav-item ">
              <%= link_to " Edit Profile ", edit_user_registration_path , class:"navbar-brand bi bi-person-lines-fill" %>
            </li>
            <li class="nav-item">
              <%= link_to " Sign out ",  destroy_user_session_path ,method: :delete, class:"navbar-brand bi bi-box-arrow-right" %>
            </li>
          </ul> 
        <% else %>
          <ul class="navbar-nav nav justify-content-end">
            <li class="nav-item">
              <%= link_to " Sign up ", new_user_registration_path , class:"navbar-brand bi bi-person-plus" %>
            </li>
            <li class="nav-item">
              <%= link_to " Sign In ",  new_user_session_path , class:"navbar-brand bi bi-box-arrow-in-right" %>
            </li>  
          </ul>
        <% end %>
      </ul>   
    </div>     
  </div>  
</nav>