<div>
  <div class="card-body">
    <h4 class="card-title"><%= @company.name %></h4>

    <p class="card-text">
      <strong>Country:</strong>
    </p>

    <p class="card-text">
      <strong>State:</strong>
      <%= @company.state_id %>
    </p>

    <p class="card-text">
      <strong>City:</strong>
      <%= @company.city_id %>
    </p>

    <p class="card-text">
      <strong>Postcode:</strong>
      <%= @company.postcode %>
    </p>

    <p class="card-text">
      <strong>Start date:</strong>
      <%= @company.start_date %>
    </p>

    <p class="card-text">
      <strong>Active:</strong>
      <%= @company.active %>
    </p>
    
    <%= link_to 'Edit', edit_company_path(@company), class:"btn btn-dark" %> 
    <%= link_to 'Back', companies_path, class:"btn btn-dark" %>
  </div>
</div>
